    
    <nav class="navbar navbar-expand-lg navbar bg-black ">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="img\Logo_transparent.png" width="300" height="auto" alt=""></a>
              <a class="navbar-brand text-white" href="#">Menu</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-white"></span>
              </button>
              <div class="collapse navbar-collapse"> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{{ path('main')}}">Accueil</a>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ path('product_')}}">Voitures d'occasion</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('contact')}}">Contact</a>
                  </li>
                </ul>
                <div class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white"><img src="img\telephone.png" width="25" height="25" alt=""></img>02 61 25 86 84</a> 
                </li>
                </div>
              </div>
            </div>
    </nav>
