<div class="row container-fluid"> <!--row service-->
      <div class="col-lg-4 text-center"> <!--Réparation-->
        <img class="bd-placeholder-img" width="140" height="140" src="/img/reparation-automobile (2).png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
        <h2 class="fw-normal">Réparation</h2>
        <p>rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun ut labore et dolore agna aliqua.</p>
      </div> <!--Réparation-->

      <div class="col-lg-4 text-center"> <!--Entretien-->
        <img class="bd-placeholder-img" width="140" height="140" src="/img/reparation-automobile (3).png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
        <h2 class="fw-normal">Entretien</h2>
        <p>rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore agna aliqua.</p>
      </div> <!--Entretien-->
      
      <div class="col-lg-4 text-center"> <!--Voitures d'occas-->
        <img class="bd-placeholder-img" width="140" height="140" src="/img/voiture (1).png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
        <h2 class="fw-normal">Voitures d’occasion</h2>
        <p>rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore agna aliqua.</p>
        <p><a class="btn btn-primary" href="#">Plus de détails &raquo;</a></p>
      </div> <!--Voitures d'occas-->

      <!--Bouton Nous contacter-->    
      <!--<div class=text-center><button type="button" class="btn btn-primary btn-lg" href="#"> <b>Nous contacter</b> </button></div>-->
      <div class= "text-center text-white"> <button type="button" class="btn btn-primary btn-lg" href="{{ path('contact')}}">Nous contacter</button></div>

    </div> 