<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Garage V. Parrot{% endblock %}</title>
        <link rel="icon" href="img/LogoNom.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
       <!-- Feuilles de styles-->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" > 
        {% block stylesheets %} {% endblock %}
        
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" >

        <!-- Feuilles de styles-->
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>
    </head>

    <body>
        {% include 'base/nav.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'base/footer.html.twig' %}
    </body>
</html>
